<!-- Contact Modal -->
<div
  class="modal contact fade"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span>Contact Us</span>
        <i class="fas fa-times" data-dismiss="modal"></i>
      </div>
      <div class="modal-body contact-body">
        <span>
          Phone: +91-9876543210
        </span>
        <span>
          Email: test@gmail.com
        </span>
      </div>
    </div>
  </div>
</div>
<!-- Contact Modal Ends Here -->
