.signup_card {
  margin-top: 40%;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.loginspan {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.btn-link {
  color: darkred;
}
