.login_card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #150f23;
  color: white;
}

.login_close {
  color: white;
  opacity: unset;
}

// .remember{
//   color: white;
//   }

//   .remember input
//   {
//   width: 20px;
//   height: 20px;
//   margin-left: 15px;
//   margin-right: 5px;
//   }

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.loginspan {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.btn-link {
  color: darkred;
}
