<div
  class="modal menu fade"
  id="menuModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="menuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="menuModalLabel" *ngIf="user">Hello {{user.name}}</h5>
        <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        [routerLink]="['/login']"
        *ngIf="!user"
      >
        Login
      </button>
      <button
      type="button"
      class="btn btn-primary"
      data-dismiss="modal"
      [routerLink]="['/signup']"
      *ngIf="!user"
    >
      SignUp
    </button>
      </div>
      <div class="modal-body" *ngIf="user">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/order']" data-dismiss="modal"
              >My Orders</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/cart']" data-dismiss="modal">My Cart</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer" *ngIf="user">
        <button
          type="button"
          class="btn btn-primary"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

