<div class="store-header-grid">
  <i class="fas fa-long-arrow-alt-left" [routerLink]="['/home']"></i>
  <span>{{ storeName }}</span>
  <div class="text-right">
    <i
      class="fas fa-heart"
      [ngStyle]="{ color: isFavoriteStore ? 'red' : 'white' }"
      (click)="makeFavorite()"
      *ngIf="isLoggedIn"
    ></i>
    <i
      class="fas fa-search pl-3"
      data-toggle="modal"
      data-target="#searchStoreModal"
    ></i>
  </div>
</div>
<div>
  <div class="category-grid">
    <div class="text-center">
      <span style="font-weight: 600;">Category</span>
    </div>
    <ul class="_1bQ4u">
      <ng-container *ngFor="let category of categories">
        <li class="_35h7b">
          <a class="_34WAd B-aO0 rippleEffect">
            <span class="_3xjP6" (click)="getProductsWithCategory(category)">
              {{ category }}
            </span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <div id="accordion" class="products-list-grid">
    <input
      class="form-control item_li_input"
      type="text"
      placeholder="Item List"
    />
    <ng-container
      *ngFor="
        let productEntity of storeProductCatalog | keyvalue;
        let j = index
      "
    >
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              [ngClass]="{ collpase: j === toggle.step && toggle.trigger }"
              data-toggle="collapse"
              [attr.data-target]="'#' + j"
              [attr.aria-expanded]="j === toggle.step"
              aria-controls="collapseOne"
              (click)="toggleCategory(j)"
            >
              {{ productEntity.key }}
            </button>
          </h5>
        </div>
        <div
          [attr.id]="j"
          class="collapse show"
          [ngClass]="{ show: j === toggle.step && !toggle.trigger }"
          aria-labelledby="headingOne"
          data-parent="#accordion"
          #itemslist
        >
          <div class="card-body">
            <gro-store-list [items]="productEntity.value"></gro-store-list>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div style="background-color: grey;">
  <gro-footer></gro-footer>
</div>

<!-- Store search modal -->
<gro-store-search></gro-store-search>
<!-- Store search modal ends here -->
