<span style="font-size: 20px;">Shop By Category</span>
<div class="categories">
  <div class="card text-center" [routerLink]="['/category', 'grocery']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Card image cap"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Grocery
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'vegetables']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Vegetables"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Vegetables
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'fruits']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Fruits"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Fruits
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'personal_care']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Personal Care"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Personal Care
      </h6>
    </div>
  </div>
  <div class="card" [routerLink]="['/category', 'household_items']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Household Items"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Household Items
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'snacks']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Snacks"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Snacks
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'beverages']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Beverages"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Beverages
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'dairy']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Dairy"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Dairy
      </h6>
    </div>
  </div>
  <div class="card text-center" [routerLink]="['/category', 'baby_care']">
    <img
      class="card-img"
      src="https://elasticbeanstalk-us-east-2-467243731184.s3.us-east-2.amazonaws.com/yourstore-img/3perpagerow.jpg"
      alt="Baby Care"
    />
    <div class="card-image-overlay">
      <h6 class="card-title">
        Baby Care
      </h6>
    </div>
  </div>
</div>
