<span style="font-size: 20px;">Shop By Category</span>
<div class="categories">
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h6 class="card-title">
        Grocery
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
      alt="Vegetables"
    />
    <div class="card-body">
      <h6 class="card-title">
        Vegetables
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
      alt="Fruits"
    />
    <div class="card-body">
      <h6 class="card-title">
        Fruits
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_163_v_3_500_1584073368.jpg"
      alt="Personal Care"
    />
    <div class="card-body">
      <h6 class="card-title">
        Personal Care
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_18_v_3_500_1584355882.jpg"
      alt="Household Items"
    />
    <div class="card-body">
      <h6 class="card-title">
        Household Items
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_13_v_3_500_1580068677.jpg"
      alt="Snacks"
    />
    <div class="card-body">
      <h6 class="card-title">
        Snacks
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_12_v_3_500_1580062743.jpg"
      alt="Beverages"
    />
    <div class="card-body">
      <h6 class="card-title">
        Beverages
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_14_v_3_500_1580063018.jpg"
      alt="Dairy"
    />
    <div class="card-body">
      <h6 class="card-title">
        Dairy
      </h6>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_7_v_3_500_1580062720.jpg"
      alt="Baby Care"
    />
    <div class="card-body">
      <h6 class="card-title">
        Baby Care
      </h6>
    </div>
  </div>
</div>
