.img-fluid {
  height: 80px;
}

.no-right-padding {
  padding-right: 0px;
}

.categories {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.categories .card {
  width: 30%;
  border: 1px solid grey;
  height: 100px;
  display: inline-block;
  margin: 3px;
}


