<nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="toolbar-div row">
      <div class="menu-div col-3">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="modal"
          data-target="#menuModal"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="location-div col-6">
        <div
          class="location-content"
          data-toggle="modal"
          data-target="#locationModal"
        >
          <i class="fas fa-map-marker-alt"></i>
          {{ "Select Location" }}
        </div>
      </div>
      <div class="cart-div col-3">
        <button
          class="btn btn-primary float-right"
          type="button"
          [routerLink]="['/cart']"
        >
          <i class="fas fa-shopping-cart">
            <span *ngIf="_cartService.cartQuantity">{{
              _cartService.cartQuantity
            }}</span></i
          >
          <!-- Cart -->
        </button>
      </div>
    </div>

    <div style="width: 100%;">
      <form class="form-inline my-1 my-lg-0">
        <div style="width: 100%;">
          <input
            class="form-control"
            type="search"
            placeholder="Search for Stores Or Products"
            aria-label="Search"
          />
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- Menu Modal -->
<div
  class="modal menu fade"
  id="menuModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="menuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="menuModalLabel">Hello User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="['order']"
              data-dismiss="modal"
              >My Orders</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link">My Addresses</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Logout</button>
      </div>
    </div>
  </div>
</div>
<!-- Menu Modal Ends Here -->

<!-- Location Modal -->
<div
  class="modal location fade"
  id="locationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="locationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-2">
            <i class="fas fa-chevron-left col-3" data-dismiss="modal"></i>
          </div>
          <div class="col-10">
            <div style="width: 100%;">
              <form class="form-inline my-1 my-lg-0">
                <div style="width: 100%;">
                  <input
                    class="form-control"
                    type="search"
                    placeholder="Search for area or landmark"
                    aria-label="Search"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-light">
          <i class="fas fa-search-location"></i>
          <span>Choose Current Location</span>
        </button>
        <hr />
        <div>Saved Addresses</div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Logout</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Menu Modal Ends Here -->
