<ng-container [ngTemplateOutlet]="orderDetailsHeader"></ng-container>
<div>
  <div style="background-color: #f8f9f9; padding: 10px; padding-top: 0px;">
    <div class="text-center">
      <button class="btn btn-danger">
        Reorder
      </button>
    </div>
    <div *ngFor="let item of [].constructor(10)">
      <div class="card" style="margin-top: 10px;">
        <div class="row" style="padding: 10px;">
          <div class="col-3 no-right-padding">
            <img
              src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-9">
            <div>
              <h6>
                Item Name
              </h6>
              <h6 style="font-size: small; font-weight: 400;">
                Brand Name with grams
              </h6>
            </div>
            <div style="margin: 5px;">
              <span>5 kg</span>
            </div>
            <div>
              <div class="item_li_price">
                <h5 name="item-price">
                  Rs.200
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="!items.length" style="height: 80vh;">
  <gro-page-error
    [message]="'There are no items in the cart. Add some.'"
    [actiontext]="'Start Shopping'"
  ></gro-page-error>
</div> -->

<ng-template #orderDetailsHeader>
  <div class="order-details-header-grid">
    <i class="fas fa-chevron-left" [routerLink]="['/order']"></i>
    <span>Order Details</span>
  </div>
</ng-template>
