<ng-container [ngTemplateOutlet]="orderDetailsHeader"></ng-container>
<div>
  <div style="background-color: #f8f9f9; padding: 10px; padding-top: 5px;">
    <div class="text-center">
      <button
        class="btn btn-danger"
        (click)="reorder()"
        *ngIf="orderDetails && orderDetails.status === 'delivered'"
      >
        Reorder
      </button>
      <button
        class="btn btn-danger"
        (click)="reorder()"
        *ngIf="orderDetails && orderDetails.status === 'placed'"
      >
        Track Order
      </button>
    </div>
    <div class="card m-1 p-1" *ngIf="storeDetails && orderDetails">
      <div class="row">
        <div class="col-6 h6">{{ storeDetails.storeName | titlecase }}</div>
        <div class="col-6 text-right">Rs.{{ orderDetails.total }}</div>
      </div>
      <div class="row">
        <div class="col-6 h6">{{ storeDetails.area | titlecase }}</div>
        <div class="col-6 text-right">{{ orderDetails.no_of_items }} items</div>
      </div>
    </div>
    <div *ngFor="let item of items">
      <div class="card" style="margin-top: 10px;">
        <div class="row" style="padding: 10px;">
          <div class="col-3 no-right-padding">
            <img
              [src]="item.productImgUrl"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-9">
            <div>
              <h6>
                {{ item.itemShortDescription }}
              </h6>
              <h6 style="font-size: small; font-weight: 400;">
                {{ item.brandName }}
              </h6>
            </div>
            <div style="margin: 5px;">
              <div class="row">
                <div class="col-6">
                  <span
                    >{{ item.weight }}{{ item.unit }}&nbsp;&times;&nbsp;{{
                      item.quantity
                    }}</span
                  >
                </div>
                <div class="col-6">
                  <span class="h5">Rs.{{ item.price * item.quantity }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="!items.length" style="height: 80vh;">
  <gro-page-error
    [message]="'There are no items in the cart. Add some.'"
    [actiontext]="'Start Shopping'"
  ></gro-page-error>
</div> -->

<ng-template #orderDetailsHeader>
  <div class="order-details-header-grid">
    <i class="fas fa-chevron-left" [routerLink]="['/order']"></i>
    <span>Order Details</span>
  </div>
</ng-template>
