.item_li_input{
  text-align: center;
  margin-bottom: 2px;
  border:0px;
  color: black;
  background-color:#F8F9F9;
  font-weight:600;
}

.item_li_price{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  padding-left: 10px;
}

.minus_plus_but {
  cursor: pointer;
  width: 30px;
  height: 28px;
  font: 500 14px/14px Roboto Slab,serif;
  font-size: large;
  background-color: white;

}

.miuns_plus_input {
  border: 0px solid darkgoldenrod;
  height: 28px;
  width: 50px;
  background: #fff;
  text-align: center;
}
