.signup-container {
  background: black;
  margin: auto;
  padding: 2px 0 40px;
}

.store-grid {
  padding: 5px 5px 10px 0;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.loginspan {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.btn-link {
  color: darkred;
}

// checkbox style starts here

/* The container */
.store-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.store-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-check-input {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
