<ng-container *ngFor="let store of storesListed">
  <div class="card" style="padding-bottom: 10px;">
    <div class="row" [routerLink]="['/store', store.id]">
      <div class="col-3 no-right-padding">
        <img
          src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-9">
        <h6>
          {{store.storeName}}
        </h6>
        <h6 style="font-size: small; line-height: 1; font-weight: 400;">
          {{store.storeType | titlecase}}
        </h6>
        <h6 style="font-size: small; line-height: 1; font-weight: 400;">
          {{store.storeArea | titlecase}} | {{store.kms}}
        </h6>
      </div>
    </div>
  </div>
</ng-container>
