<ng-container *ngFor="let store of storesListed">
  <div class="card" style="padding-bottom: 10px;">
    <div class="row" [routerLink]="['/store', store.id]">
      <div class="col-3 no-right-padding">
        <img [src]="store.storeImgUrl" class="img-fluid" alt="Store image" />
      </div>
      <div class="col-9">
        <div class="row p-1">
          <div class="col-8 h6">{{ store.storeName | titlecase }}</div>
          <div class="col-4 text-right" style="font-style: italic;">
            {{ store.storeCategory | titlecase }}
          </div>
        </div>
        <div>
          <h6 style="font-size: small; line-height: 1; font-weight: 400;">
            {{ store.supplyItems | titlecase }}
          </h6>
        </div>
        <hr />
        <div>
          <h6 style="font-size: small; line-height: 1; font-weight: 400;">
            {{ store.area | titlecase }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!storesListed.length">
  <gro-page-error
    [message]="
      'We are working on getting some stores on boarded near you. Reach out to us if you want to refer some stores.'
    "
  ></gro-page-error>
</ng-container>
