<div class="header-grid">
  <div class="menu-grid" data-toggle="modal" data-target="#menuModal">
    <i class="fas fa-bars"></i>
  </div>
  <div class="location-grid" (click)="handleLocation()">
    <i class="fas fa-map-marker-alt"></i
    ><span>You are in {{ _commonService.userLocation }}</span>
  </div>
  <div class="contact-grid" data-toggle="modal" data-target="#contactModal">
    <i class="fas fa-mobile-alt"></i>
  </div>
</div>

<!-- Menu Modal -->
<gro-menu></gro-menu>
<!-- Menu Modal Ends Here -->

<!-- Contact Modal -->
<gro-contact></gro-contact>
<!-- Contact Modal Ends Here -->
