.header-grid {
  display: flex;
  width: 100%;
  background: black;
  padding: 15px;
}

.menu-grid {
  flex: 1 1 15%;
}

.location-grid {
  flex: 8 1 70%;
  padding-left: 20px;
  span {
    color: white;
    padding-left: 10px;
    font-size: 16px;
  }
}

.contact-grid {
  flex: 1 1 15%;
  margin-right: -20px;
}

.fas.fa-bars, .fas.fa-mobile-alt, .fas.fa-map-marker-alt {
  color: white;
  font-size: 24px;
}
