<div class="header-grid">
  <div class="menu-grid" data-toggle="modal" data-target="#menuModal">
    <i class="fas fa-bars"></i>
  </div>
  <div class="location-grid" data-toggle="modal" data-target="#locationModal">
    <i class="fas fa-map-marker-alt"></i><span>Select Location</span>
  </div>
  <div class="account-grid" data-toggle="modal" data-target="#accountModal">
    <i class="far fa-user-circle"></i>
  </div>
</div>

<!-- Menu Modal -->
<gro-menu></gro-menu>
<!-- Menu Modal Ends Here -->

<!-- Location Modal -->
<gro-location></gro-location>
<!-- Location Modal Ends Here -->
