.img-fluid {
  height: 80px;
}

.no-right-padding {
  padding-right: 0px;
}

.categories .card, .categories .card-body {
  width: 30%;
}

.categories {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.categories .card {
  box-shadow: 0 0 4px darkred;
  border: 0px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}


.categories .card-body {
  word-wrap: break-word;
}

