.favorites {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.favorites .card {
  width: 30%;
  // border: 1px solid grey;
  height: 100px;
  display: inline-block;
  margin: 3px;
}


