<div class="modal-body">
  <div class="d-flex">
    <input
      class="form-control search-input"
      type="input"
      placeholder="Enter pincode"
      aria-label="Search"
      [(ngModel)]="searchKey"
    />
    <button type="button" class="btn btn-dark" (click)="loadStores(searchKey)">
      Go
    </button>
  </div>
  <div class="p-2">
    <span>Saved pincodes:</span>
    <ng-container *ngFor="let i of [].constructor(3)">
      <span class="location-display" (click)="loadStores('600096')">Perungudi (600096)</span>
    </ng-container>
  </div>
  <div class="p-2">
    <span>We have stores in:</span>
    <ng-container *ngFor="let i of [].constructor(10)">
      <div class="location-display-grid">
        <span class="location-content" (click)="loadStores('600096')">Perungudi (600096)</span>
      </div>
    </ng-container>
  </div>
</div>
