<!-- Location Modal -->
<div
  class="modal location fade"
  id="locationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="locationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-2">
            <i class="fas fa-chevron-left col-3" data-dismiss="modal"></i>
          </div>
          <div class="col-10">
            <div style="width: 100%;">
              <form class="form-inline my-1 my-lg-0">
                <div style="width: 100%;">
                  <input
                    class="form-control"
                    type="search"
                    placeholder="Search for area or landmark"
                    aria-label="Search"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-light">
          <i class="fas fa-search-location"></i>
          <span>Choose Current Location</span>
        </button>
        <hr />
        <div>Saved Addresses</div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Logout</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Menu Modal Ends Here -->
