<!-- Location Modal -->
<div
  class="modal location fade"
  id="locationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="locationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="location-grid">
        <button class="btn btn-light back-link">
          <i class="fas fa-chevron-left" data-dismiss="modal"></i>
        </button>
        <input
          class="form-control location-input"
          type="search"
          placeholder="Search for products or store"
          aria-label="Search"
          autofocus
        />
      </div>
      <!-- <button type="button" class="btn btn-light">
        <i class="fas fa-search-location"></i>
        <span>Choose Current Location</span>
      </button>
      <hr />
      <div>Saved Addresses</div> -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">Logout</button>
      </div> -->
    </div>
  </div>
</div>
<!-- Menu Modal Ends Here -->
