.img-fluid {
  height: 80px;
}

.card_item_view_sbox {
  margin-bottom: 10px;
  max-width: 150px;
}

.minus_plus_but {
  cursor: pointer;
  width: 30px;
  height: 28px;
  font: 500 14px/14px Roboto Slab, serif;
  font-size: large;
  background-color: white;
}

.miuns_plus_input {
  border: 0px solid darkgoldenrod;
  height: 28px;
  width: 50px;
  background: #fff;
  text-align: center;
}
