<ng-container *ngFor="let item of items">
  <div class="card" style="margin-top: 2px;">
    <div class="d-flex p-2">
      <div class="col-3 product-image">
        <img [src]="item.productImgUrl" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-9">
        <h6>
          {{ item.itemShortDescription }}
        </h6>
        <h6 style="font-size: small; font-weight: 400;">
          {{ item.brandName }}
        </h6>
        <ng-container *ngIf="item.storeInventoryProductUnit.length > 1">
          <select
            class="form-control form-control-sm card_item_view_sbox"
            name="item-select"
            id="item-select"
            [ngModel]="item.weight"
            (ngModelChange)="onWeightChange($event, item)"
          >
            <option
              [ngValue]="val.weight"
              *ngFor="let val of item.storeInventoryProductUnit"
              ><span style="font-weight: 400px; font-size: 20px;"
                >{{ val.weight }}{{ val.unit }}</span
              ></option
            >
          </select>
        </ng-container>
        <ng-container *ngIf="item.storeInventoryProductUnit.length === 1">
          <span style="font-weight: 400px; font-size: 20px;"
            >{{ item.weight }}{{ item.unit }}</span
          >
        </ng-container>
        <div style="display: flex;">
          <div style="padding-right: 40px;">
            <span style="font-weight: 500; font-size: 14px;">MRP: </span>
            <span
              style="
                font-weight: 500;
                font-size: 14px;
                text-decoration: line-through;
              "
            >
              Rs.{{ item.mrp }}
            </span>
            <!-- <h6 name="item-price" style="text-decoration: line-through;">
              MRP: Rs.{{ item.price }}
            </h6> -->
            <h5 name="item-price" [(ngModel)]="item.price" ngDefaultControl>
              Rs.{{ item.price }}
            </h5>
          </div>
          <div style="flex-grow: 50%;">
            <ng-container *ngIf="!item.quantity">
              <button
                style="width: 100px;"
                class="btn btn-primary btn-sm btn-info"
                (click)="addItems(item)"
              >
                ADD+
              </button>
            </ng-container>
            <ng-container *ngIf="item.quantity">
              <button
                class="minus_plus_but border border-danger rounded"
                style="color: darkred;"
                (click)="removeItems(item)"
              >
                -
              </button>
              <input
                type="text"
                class="miuns_plus_input"
                placeholder="1"
                id="p_10000097"
                [value]="item.quantity"
                maxlength="3"
              />
              <button
                class="minus_plus_but border border-success rounded"
                style="color: rgb(7, 119, 7);"
                (click)="addItems(item)"
              >
                +
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
