<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Recent Order</a
          >
          <a
            class="nav-item nav-link"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Processed Order</a
          >
        </div>
      </nav>
      <div class="tab-content py-3 px-1 px-sm-0" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="card" style="padding: 10px;" [routerLink]="['/store-view-order']">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
          <div class="card" style="padding: 10px;">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
          <div class="card" style="padding: 10px;">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="card" style="padding: 10px;">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
          <div class="card" style="padding: 10px;">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
          <div class="card" style="padding: 10px;">
            <div>
              <div class="row">
                <div class="col-8">
                  <h6>User Name</h6>
                </div>
                <div class="col-4">
                  <h6 style="color: seagreen; float: right; font-weight: 400;">
                    Rs. 2349
                  </h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <h6 class="shop_location_date">9176036336 | perungudi</h6>
              </div>
              <div class="col-4">
                <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
                <h6 class="shop_location_date" style="float: right;">May-09</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
