<div class="btn-group footer-grid" role="group" aria-label="Button Group">
  <button
    type="button"
    class="btn btn-link footer-home"
    [routerLink]="['/home']"
  >
    <i class="fas fa-home"></i>
    <span>Home</span>
  </button>
  <button
    type="button"
    class="btn btn-link footer-search"
    data-toggle="modal"
    data-target="#searchModal"
  >
    <i class="fas fa-search"></i>
    <span>Search</span>
  </button>
  <button
    type="button"
    class="btn btn-link footer-cart"
    [routerLink]="['/cart']"
  >
    <div class="cart_button">
      <i class="fab fa-opencart"></i>
      <span class="cart_number" *ngIf="_cartQuantity > 0">{{
        _cartQuantity
      }}</span>
    </div>
    <span>Cart</span>
  </button>
</div>

<gro-search></gro-search>
