.footer-grid {
  display: flex;
  position: fixed;
  background: white;
  padding: 10px;
  bottom: 0%;
  width: 100%;
  border-top: 1px groove lightgrey;
}

.footer-home {
  flex: 1 1 auto;
  color: grey;
  border-right: 1px solid lightgrey;
}

.footer-search {
  flex: 1 1 auto;
  color: grey;
  border-right: 1px solid lightgrey;
}
.footer-cart {
  flex: 1 1 auto;
  color: grey;
}
