.forgot_container {
  background: black;
  margin: auto;
  padding-top: 40%;
  padding-bottom: 60%;
  height: 100%;
}

.userspan {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.activation_btn {
  color: black;
  background-color: #ffc312;
  max-width: 100%;
}
