<!-- Location Modal -->
<div
  class="modal location fade"
  id="locationOnLoadModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="locationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="search-grid">
        <div class="search-input">
          <input
            class="form-control search-input"
            type="input"
            placeholder="Enter pincode or area"
            aria-label="Search"
            [(ngModel)]="searchKey"
          />
        </div>
        <div class="search-button">
          <button type="button" class="btn btn-dark" (click)="triggerSearch()"
          data-dismiss="modal">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu Modal Ends Here -->
