<ng-container [ngTemplateOutlet]="orderHeader"></ng-container>
<ng-container
  *ngIf="!current_orders.length && !past_orders.length; else showOrders"
>
  <div style="height: 80vh;">
    <gro-page-error
      [message]="'There are no orders placed yet'"
      [actiontext]="'Start Shopping'"
    ></gro-page-error>
  </div>
</ng-container>
<ng-template #showOrders>
  <h6 style="font-weight: 600; font-size: 18px;">Current Orders</h6>
  <ng-container *ngIf="current_orders.length">
    <ng-container *ngFor="let order of current_orders">
      <ng-template
        [ngTemplateOutlet]="orderDisplay"
        [ngTemplateOutletContext]="{ order: order }"
      ></ng-template>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!current_orders.length">
    <gro-page-error
      [message]="'Currently, no orders placed'"
      [actiontext]="'Start Shopping'"
    ></gro-page-error>
  </ng-container>
  <h6 style="font-weight: 600; font-size: 18px;">Past Orders</h6>
  <ng-container *ngIf="past_orders.length">
    <ng-container *ngFor="let order of past_orders">
      <ng-template
        [ngTemplateOutlet]="orderDisplay"
        [ngTemplateOutletContext]="{ order: order }"
      ></ng-template>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!past_orders.length">
    <gro-page-error [message]="'There are no previous orders'"></gro-page-error>
  </ng-container>
</ng-template>
<ng-template #orderHeader>
  <div class="order-header-grid">
    <i class="fas fa-chevron-left" [routerLink]="['/home']"></i>
    <span>My Orders</span>
  </div>
</ng-template>

<ng-template #orderDisplay let-order="order">
  <div class="card" style="padding: 10px; margin-bottom: 10px;">
    <div [routerLink]="['/order', order.id]">
      <div class="d-flex justify-content-between">
        <span class="text-primary h5">#{{ order.id }}</span>
        <span class="h6">{{
          order.orderStatus === (placedStatus || deliveredStatus)
            ? (order.orderStatus | titlecase)
            : order.orderStatus === cancelledStatus
            ? "Cancelled"
            : "Cancelled by store"
        }}</span>
      </div>
      <div class="row">
        <div class="col-8">
          <h6>{{ order.store && order.store.storeName | titlecase }}</h6>
        </div>
        <div class="col-4">
          <h6
            style="color: seagreen; float: right; font-weight: 400;"
            *ngIf="order.billTotal"
          >
            Rs. {{ order.billTotal }}
          </h6>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <h6 class="shop_location_date">
            {{ order.store && order.store.area }}
          </h6>
        </div>
        <div class="col-4">
          <!-- <i class="fa fa-angle-right" style="font-size:20px;float: right; color: lightgrey;"></i> -->
          <h6
            class="shop_location_date"
            style="float: right;"
            *ngIf="order.totalNumOfProducts"
          >
            {{
              order.totalNumOfProducts === 1
                ? order.totalNumOfProducts + " item"
                : order.totalNumOfProducts + " items"
            }}
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6 class="shop_location_date">
            {{ order.date }}
          </h6>
        </div>
      </div>
    </div>
    <hr class="hr_dashed" *ngIf="order.orderStatus !== cancelledStatus" />
    <div class="row" style="align-items: center;">
      <div class="col" *ngIf="order.orderStatus !== placedStatus">
        <button
          class="btn btn-primary"
          (click)="rateStore(rateStoreDialog)"
          *ngIf="order.orderStatus !== cancelledStatus && !isStoreRated"
        >
          Rate Store
        </button>
        <button
          class="btn btn-primary"
          (click)="rateDelivery(rateStoreDialog)"
          *ngIf="isStoreRated"
        >
          Rate Delivery
        </button>
      </div>
      <div class="col" *ngIf="order.orderStatus === placedStatus">
        <button class="btn btn-success" (click)="trackOrder(trackOrderDialog)">
          TRACK
        </button>
      </div>
      <div class="col" *ngIf="order.orderStatus === placedStatus">
        <button class="btn btn-danger" (click)="cancelOrder(cancelDialog)">
          CANCEL
        </button>
      </div>
    </div>
    <!-- Use when rating is ready -->
    <!-- <hr class="hr_dashed" />
    <div class="row" style="align-items: center;">
      <div class="col">
        <button class="btn btn-success" (click)="rateStore(rateStoreDialog)">
          Rate Store
        </button>
      </div>
    </div> -->
  </div>
  <ng-template #cancelDialog let-c="close" let-d="dismiss">
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Cancel Order</h4>
        <button
          type="button"
          class="close"
          aria-describedby="modal-title"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to cancel the order (#{{ order.id }})?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="c('cancel click')"
        >
          No
        </button>
        <button type="button" class="btn btn-danger" (click)="cancel(order.id)">
          Yes
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #trackOrderDialog let-c="close" let-d="dismiss">
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">
          Track Order #{{ order.id }}
        </h4>
        <button
          type="button"
          class="close"
          aria-describedby="modal-title"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your order will be delivered by XXX(Wed, Jan 1)</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="cancelOrder(cancelDialog)"
        >
          Cancel Order
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #rateStoreDialog let-c="close" let-d="dismiss">
    <div>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">
          Rate # Store Name
        </h4>
        <button
          type="button"
          class="close"
          aria-describedby="modal-title"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngb-rating
          [(rate)]="currentRate"
          [max]="5"
          (rateChange)="onRateChange($event)"
          [starTemplate]="rating"
        >
        </ngb-rating>
        <ng-template #rating let-fill="fill">
          <span class="star" [class.filled]="fill === 100">
            &hearts;
          </span>
        </ng-template>
        <div *ngIf="canReview" class="d-flex">
          <span>Your review</span>
          <textarea name="rating-area" cols="40" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">
          Submit
        </button>
      </div>
    </div>
  </ng-template>
</ng-template>
