.order-header-grid {
  display: flex;
  width: 100%;
  background: black;
  padding: 15px;
  span {
    padding-left: 20px;
    font-size: 20px;
    color: white;
  }
}

.fas.fa-chevron-left {
  color: white;
  font-size: 24px;
}

.shop_location_date {
  font-weight: 400;
  font-size: small;
  line-height: 1;
}

.star {
  font-size: 3rem;
  color: #d3d3d3;
}

.filled {
  color: #ff1e1e;
}

/* Dotted red border */

.hr_dashed {
  margin-top: 5px;
  border-top: 1px dashed;
}

.report_a {
  background: #ee3962;
  color: #fff;
}

.reorder_report_a {
  width: 120px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  line-height: 40px;
  height: 40px;
  color: #ee3962;
  border: 1px solid #ee3962;
  padding: 0 15px;
}
