<div *ngIf="_cartService.cartItems.length">
  <div *ngFor="let item of _cartService.cartItems">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-4">
          <img
            src="https://cdn.grofers.com/app/images/category/cms_images/icon/icon_cat_16_v_3_500_1580063793.jpg"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <div>
              <span class="card-title">Fresho</span> |
              <span class="card-title">{{item.name}}</span>
            </div>
            <div style="margin:5px;">
              <span>{{item.weight}}</span>
            </div>
            <div style="display: flex;">
              <div style="flex-grow: 50%; margin-right: 1.5em;">
                <span class="h6">Rs. {{item.price}}</span>
              </div>
              <div style="flex-grow: 50%">
                <div *ngIf="!item.quantity">
                  <button class="btn btn-secondary btn-info" (click)="addItems(item)">ADD+</button>
                </div>
                <div *ngIf="item.quantity">
                  <button class="btn btn-secondary btn-info" (click)="removeItems(item)">-</button>
                  <span style="border: 1px solid grey; padding: 5px 6px;">{{item.quantity}}</span>
                  <button class="btn btn-secondary btn-info" (click)="addItems(item)">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

