<div class="cart-header-grid">
  <i class="fas fa-long-arrow-alt-left" [routerLink]="['/home']"></i>
  <span>Review Basket</span>
</div>
<div *ngIf="items.length">
  <div style="background-color: #f8f9f9; padding: 10px; padding-top: 0px;">
    <!-- <input
      class="form-control item_li_input"
      type="text"
      placeholder="Vegetables"
    /> -->
    <div class="text-center">
      <button class="btn btn-danger" (click)="emptyCart()">
        Empty Cart
      </button>
    </div>
    <div *ngFor="let item of items">
      <div class="card" style="margin-top: 5px; margin-bottom: 5px;">
        <div class="row" style="padding: 10px;">
          <div class="col-3 no-right-padding">
            <img
              [src]="item.productImgUrl"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-9">
            <div>
              <h6>
                {{ item.itemShortDescription }}
              </h6>
              <h6 style="font-size: small; font-weight: 400;">
                {{ item.brandName }}
              </h6>
            </div>
            <div style="margin: 5px;">
              <span>{{ item.weight }}{{ item.unit }}</span>
            </div>
            <div style="display: flex;">
              <div class="item_li_price">
                <h5 name="item-price" [(ngModel)]="item.price" ngDefaultControl>
                  Rs.{{
                    item.quantity ? item.price * item.quantity : item.price
                  }}
                </h5>
              </div>
              <div style="flex-grow: 50%;">
                <div *ngIf="!item.quantity">
                  <button
                    class="btn btn-secondary btn-info"
                    (click)="addItems(item)"
                  >
                    ADD+
                  </button>
                </div>
                <div *ngIf="item.quantity">
                  <!-- <button
                    class="minus_plus_but border border-danger rounded"
                    style="color: darkred;"
                    (click)="removeItems(item)"
                  >
                    -
                  </button>
                  <input
                    type="text"
                    class="miuns_plus_input"
                    placeholder="1"
                    id="p_10000097"
                    [value]="item.quantity"
                    maxlength="2"
                  />
                  <button
                    class="minus_plus_but border border-success rounded"
                    style="color: rgb(7, 119, 7);"
                    (click)="addItems(item)"
                  >
                    +
                  </button> -->
                  <div
                    class="d-flex flex-row"
                    style="
                      opacity: 1;
                      pointer-events: auto;
                      border: 1px solid #d4d5d9;
                    "
                  >
                    <button
                      class="pl-2 pr-2"
                      style="
                        color: inherit;
                        background: #fff;
                        font-size: 24px;
                        font-weight: 800;
                        outline: 0;
                        border: 0;
                      "
                      (click)="removeItems(item)"
                    >
                      -
                    </button>
                    <div class="pl-2 pr-2 pt-1 pb-1">
                      <span>{{ item.quantity }}</span>
                    </div>
                    <button
                      class="pl-2 pr-2"
                      style="
                        color: #60b246;
                        background: #fff;
                        font-size: 24px;
                        font-weight: 800;
                        outline: 0;
                        border: 0;
                      "
                      (click)="addItems(item)"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer
    id="footer-checkout"
    class="footer-checkout"
    style="border-top: 1px solid #777;"
  >
    <div class="footer-flex-container-checkout" *ngIf="isLoggedIn">
      <div class="flex-item-checkout">
        <span class="h4"> Rs. {{ cartTotal }}</span>
        <!-- <span style="color: rgb(132, 194, 37);">Saved Rs 331.5</span> -->
      </div>
      <div class="flex-item-checkout-button">
        <span (click)="placeOrder()">CHECKOUT</span>
      </div>
    </div>
    <div class="login_cart" *ngIf="!isLoggedIn">
      <span>One step away. Please login to place order.</span>
      <button class="btn btn-success">Continue</button>
    </div>
  </footer>
</div>
<div *ngIf="!items.length && !isOrdered" style="height: 80vh;">
  <gro-page-error
    [message]="'There are no items in the cart. Add some.'"
    [actiontext]="'Start Shopping'"
  ></gro-page-error>
</div>
<div *ngIf="isOrdered" style="height: 80vh;">
  <gro-page-error
    [message]="'Your order is placed successfully!'"
    [actiontext]="'Home'"
  ></gro-page-error>
</div>
<!-- <gro-footer></gro-footer> -->
