<div class="login_container">
  <button class="btn" style="color: white; font-size: 36px;" [routerLink]="['/home']">&times;</button>
<div class="card">
  <div class="card-header">
    <h5 style="display: inline-block;">Log In</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="myLoginForm">
      <span
        class="error_text"
        *ngIf="
          myLoginForm.get('username').errors?.required &&
          (myLoginForm.get('username').touched ||
            myLoginForm.get('username').dirty)
        "
      >
        Mobile number is required
      </span>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text loginspan"
            ><i class="fa fa-user fa"></i
          ></span>
        </div>
        <input
          type="text"
          class="form-control"
          type="text"
          formControlName="username"
          placeholder="Mobile Num. / Email"
          [ngClass]="{
            'is-invalid':
              (myLoginForm.get('username').touched ||
                myLoginForm.get('username').dirty) &&
              myLoginForm.get('username').errors
          }"
        />
      </div>
      <span
        class="error_text"
        *ngIf="
          myLoginForm.get('password').errors?.required &&
          (myLoginForm.get('password').touched ||
            myLoginForm.get('password').dirty)
        "
      >
        Password is required
      </span>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text loginspan"
            ><i class="fa fa-lock"></i
          ></span>
        </div>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="password"
          [ngClass]="{
            'is-invalid':
              (myLoginForm.get('password').touched ||
                myLoginForm.get('password').dirty) &&
              myLoginForm.get('password').errors
          }"
        />
      </div>
      <!-- <div class="row align-items-center remember">
                <input type="checkbox" />Remember Me
              </div> -->
      <div class="form-group">
        <input
          type="submit"
          value="Login"
          [disabled]="myLoginForm.pristine || myLoginForm.invalid"
          class="btn float-right login_btn"
          data-dismiss="modal"
          (click)="checkLogin()"
        />
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center links">
      Don't have an account?
      <button
        type="button"
        class="btn btn-dark"
        style="margin-left: 10px; padding-left: 10px;"
        [routerLink]="['/signup']"
      >
        Sign Up
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#">Forgot your password?</a>
    </div>
  </div>
</div>
</div>
